<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
{% load staticfiles %}
<html lang="zxx">

<head>
    <title>Freight Transportation Category Bootstrap Responsive Web Template | Contact Us :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Freight Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);
    
        function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body>
    <!-- header -->
    <header id="home">
        <div class="container">
            <div class="header d-lg-flex justify-content-between align-items-center py-sm-3 py-2 px-sm-2 px-1">
                <!-- logo -->
                <div id="logo">
                    <h1><a href="{% url 'home_view' %}">UPS</a></h1>
                </div>
                <!-- //logo -->
                <!-- nav -->
                <div class="nav_w3ls ml-lg-5">
                    <nav>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            <li><a href="{% url 'waiting_packages_view'  pk=pk %}">Main Page</a></li>
                            <li class="ml-xl-5 ml-lg-2 mt-lg-0 mt-sm-4 mt-3">
                                <a href="{% url 'login_view' %}" class="reqe-button">Login</a>
                                <a href="{% url 'regist_view' %}" class="reqe-button">Register</a>
				<a href="{% url 'sign_out_view' %}" class="reqe-button">Sign out</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- //nav -->
            </div>
        </div>
    </header>
    <!-- //header -->
    <!-- inner banner -->
    <div class="inner-banner-w3ls d-flex flex-column justify-content-center align-items-center">
    </div>
    <!-- //inner banner -->

    <!-- contact -->
     <section class="single_grid_w3_main align-w3">
        <div class="container">
            <div class="row pt-lg-4">
                <div class="col-lg-5">
                    <div class="wthree_pvt_title  mb-3">
                        <h4 class="w3pvt-title">Choose your package status
                        </h4>
                        <span class="sub-title">
			  
			</span>
                    </div>
                    <div class="single_grid_text pt-lg-3">
		      <a href="{% url 'waiting_packages_view' pk=pk %}" class="text-theme-2 font-weight-bold">Waiting</a>
		      <br/>
		      <a href="{% url 'loading_packages_view' pk=pk %}" class="text-theme-2 font-weight-bold">Loading</a>
		      <br/>
		      <a href="{% url 'delivering_packages_view' pk=pk%}" class="text-theme-2 font-weight-bold">Delivering</a>
		      <br/>
                      <a href="{% url 'delivered_packages_view' pk=pk%}" class="text-theme-2 font-weight-bold">Delivered</a>
                    </div>
                </div>
                <div class="col-lg-7 mt-lg-0 mt-4">
		  <h4 class="w3pvt-title">Your Packages                                                             
                </h4>
                  {% for package in packages %}
		  
		  {% if package.9 == 'WAITING' %}
                <br/>
                <a href="{% url 'packages_info_view' id=package.0 pk=pk %}" class="text-theme-2 font-weight-bold"\
		   >Package ID: {{ package.0 }},  Destination: [{{ package.4 }},{{ package.5 }}], Current Status: {{ package.9 }} (Click to change destination)</a>
		<p class="parallax-alt" style="text-indent: 3em;"> Package created at: {{ package.14 }} </p>
		
		{% elif package.9 == 'LOADING'%}
		<br/>
                <a href="{% url 'packages_info_view' id=package.0 pk=pk %}" class="text-theme-2 font-weight-bold"\
		   >Package ID: {{ package.0 }},  Destination: [{{ package.4 }},{{ package.5 }}],  Status: {{ package.9 }}, Package created at: {{ package.14 }},    (Click to change destination)</a>
		<p class="parallax-alt" style="text-indent: 3em;"> Package created at: {{ package.14 }} </p>
		<p class="parallax-alt" style="text-indent: 3em;"> Start loading at: {{ package.15 }} </p>
		
		{% elif package.9 == 'DELIVERING' %}
		<br/>
                <a class="text-theme-2 font-weight-bold">Package ID: {{ package.0 }},  Destination: [{{ package.4 }},{{ package.5 }}],  Status: {{ package.9 }}</a>
		<p class="parallax-alt" style="text-indent: 3em;"> Package created at: {{ package.14 }} </p>
		<p class="parallax-alt" style="text-indent: 3em;"> Start loading at: {{ package.15 }} </p>
		<p class="parallax-alt" style="text-indent: 3em;"> Deliver at: {{ package.16 }} </p>
		
		{% else%}
		<br/>
                <a class="text-theme-2 font-weight-bold">Package ID: {{ package.0 }},  Destination: [{{ package.4 }},{{ package.5 }}],  Status: {{ package.9 }}</a>
		<p class="parallax-alt" style="text-indent: 3em;">Package created at: {{ package.14 }} </p>
		<p class="parallax-alt" style="text-indent: 3em;">Start loading at: {{ package.15 }} </p>
		<p class="parallax-alt" style="text-indent: 3em;">Deliver at: {{ package.16 }} </p>
		<p class="parallax-alt" style="text-indent: 3em;">Delivered at: {{ package.17 }} </p>
		
		{% endif%}
		
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- //contact -->
</body>

</html>
