<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Freight Transportation Category Bootstrap Responsive Web Template | About Us :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Freight Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body>
    <!-- header -->
    <header id="home">
        <div class="container">
            <div class="header d-lg-flex justify-content-between align-items-center py-sm-3 py-2 px-sm-2 px-1">
                <!-- logo -->
                <div id="logo">
                    <h1><a href="index.html">Freight</a></h1>
                </div>
                <!-- //logo -->
                <!-- nav -->
                <div class="nav_w3ls ml-lg-5">
                    <nav>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li>
                                <!-- First Tier Drop Down -->
                                <label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down"
                                        aria-hidden="true"></span>
                                </label>
                                <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul>
                                    <li><a href="index.html" class="drop-text">Blog</a></li>
                                    <li><a href="single.html" class="drop-text">Single Page</a></li>
                                    <li><a href="#services" class="drop-text">Services</a></li>
                                    <li><a href="#more" class="drop-text">More</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li class="ml-xl-5 ml-lg-2 mt-lg-0 mt-sm-4 mt-3">
                                <a href="login.html" class="reqe-button">Login</a>
                                <a href="register.html" class="reqe-button">Register</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- //nav -->
            </div>
        </div>
    </header>
    <!-- //header -->
    <!-- inner banner -->
    <div class="inner-banner-w3ls d-flex flex-column justify-content-center align-items-center">
    </div>
    <!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->

    <!-- about-->
    <section class="single_grid_w3_main align-w3">
        <div class="container">
            <div class="row pt-lg-4">
                <div class="col-lg-5">
                    <div class="wthree_pvt_title  mb-3">
                        <h4 class="w3pvt-title">about Freight
                        </h4>
                        <span class="sub-title">add your caption here</span>
                    </div>
                    <div class="single_grid_text pt-lg-3">
                        <p>Subheadings stand out because they are like mini titles. They make your post stand out and
                            make it more readable.</p>
                        <p class="my-2">Lorem ipsum dolor sit amet,no sea tar invidunt ut labore et dolore magkimata
                            sanctus est
                            Lorem ipsum dolor sit amet. sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                        <p>Lorem ipsum dolor sit amet,no sea tar invidunt ut labore et dolore magkimata sanctus est
                            Lorem ipsum dolor sit amet.</p>
                        <a class="btn bg-theme mt-4 w3ls-btn d-inline-block" href="about.html">view more
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 mt-lg-0 mt-4">
                    <div class="slide-img-2">
                        <img src="images/ab.jpg" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->

    <!-- about-->
    <section class="single_grid_w3_main align-w3">
        <div class="container">
            <div class="wthree_pvt_title text-center">
                <h4 class="w3pvt-title">Superior Services</h4>
                <p class="sub-title">Subheadings stand out because they are like mini titles. They make your post stand
                    out and
                    make it more readable.</p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="abt-grid">
                        <div class="row">
                            <div class="col-3">
                                <div class="abt-icon">
                                    <span class="fa fa-ravelry"></span>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="abt-txt">
                                    <h4>takimata sanctus</h4>
                                    <p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 my-lg-0 my-4">
                    <div class="abt-grid">
                        <div class="row">
                            <div class="col-3">
                                <div class="abt-icon">
                                    <span class="fa fa-pencil"></span>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="abt-txt">
                                    <h4>takimata sanctus</h4>
                                    <p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="abt-grid">
                        <div class="row">
                            <div class="col-3">
                                <div class="abt-icon">
                                    <span class="fa fa-laptop"></span>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="abt-txt">
                                    <h4>takimata sanctus</h4>
                                    <p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-lg-5 pt-4">
                <div class="col-lg-4">
                    <div class="abt-grid">
                        <div class="row">
                            <div class="col-3">
                                <div class="abt-icon">
                                    <span class="fa fa-clock-o"></span>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="abt-txt">
                                    <h4>takimata sanctus</h4>
                                    <p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 my-lg-0 my-4">
                    <div class="abt-grid">
                        <div class="row">
                            <div class="col-3">
                                <div class="abt-icon">
                                    <span class="fa fa-pencil"></span>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="abt-txt">
                                    <h4>takimata sanctus</h4>
                                    <p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="abt-grid">
                        <div class="row">
                            <div class="col-3">
                                <div class="abt-icon">
                                    <span class="fa fa-ravelry"></span>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="abt-txt">
                                    <h4>takimata sanctus</h4>
                                    <p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->

    <!-- services -->
    <section class="bg-services position-relative align-w3" id="services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="services-bg-color">
                        <div class="wthree_pvt_title mb-3">
                            <h4 class="w3pvt-title w3pvt-titl-sec text-wh">what we provide
                            </h4>
                            <span class="sub-title text-li">add your caption here</span>
                        </div>
                        <div class="row">
                            <div class="col-md-6 service-title my-4">
                                <h4 class="home-title text-theme">Sub heading</h4>
                                <p class="sec-4">Itaque earum rerum hic tenetur a sapiente delectusum hic
                                    tenetur yua.
                                </p>
                            </div>
                            <div class="col-md-6 service-title my-md-4">
                                <h4 class="home-title text-theme">Sub heading</h4>
                                <p class="sec-4">Itaque earum rerum hic tenetur a sapiente delectusum hic
                                    tenetur ap.
                                </p>
                            </div>
                            <div class="col-md-6 service-title mt-4">
                                <h4 class="home-title text-theme">Sub heading</h4>
                                <p class="sec-4">Itaque earum rerum hic tenetur a sapiente delectusum hic
                                    tenetur ar.
                                </p>
                            </div>
                            <div class="col-md-6 service-title mt-4">
                                <h4 class="home-title text-theme">Sub heading</h4>
                                <p class="sec-4">Itaque earum rerum hic tenetur a sapiente delectusum hic
                                    tenetur as.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start">
                            <a href="about.html" class="btn w3ls-btn">view more</a>
                        </div>
                    </div>

                </div>
                <div class="offset-lg-2"></div>
            </div>
        </div>
    </section>
    <!-- //services -->

    <!-- team -->
    <section class="w3layouts_hubits-services align-w3" id="team">
        <div class="container">
            <div class="wthree_pvt_title text-center">
                <h4 class="w3pvt-title">our experts
                </h4>
                <p class="sub-title">Subheadings stand out because they are like mini titles. They make your post stand
                    out and
                    make it more readable.</p>
            </div>
            <div class="row py-4 mt-lg-5  team-grid">
                <div class="col-md-4 col-sm-6">
                    <div class="box13">
                        <img src="images/t1.jpg" class="img-fluid" alt="" />
                        <div class="box-content">
                            <h3 class="title">Williamson</h3>
                            <span class="post">role in detail</span>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box13">
                        <img src="images/t2.jpg" class="img-fluid" alt="" />
                        <div class="box-content">
                            <h3 class="title">Kristiana</h3>
                            <span class="post">role in detail</span>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mx-auto">
                    <div class="box13">
                        <img src="images/t3.jpg" class="img-fluid" alt="" />
                        <div class="box-content">
                            <h3 class="title">Micheal</h3>
                            <span class="post">role in detail</span>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- //team -->

    <!--  slide -->
    <section class="wthree-slie-btm py-lg-5" id="more">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="slide-banner pl-0">
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-4">
                    <div class="container">
                        <div class="wthree_pvt_title">
                            <h4 class="w3pvt-title">Industry Solutions
                            </h4>
                            <span class="sub-title">add your caption here</span>
                        </div>
                        <div class="row flex-column">
                            <div class="abt-grid">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="abt-icon">
                                            <span class="fa fa-fighter-jet"></span>
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="abt-txt ml-0">
                                            <h4>sanctus takimata </h4>
                                            <p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="abt-grid mt-4 pt-lg-2">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="abt-icon">
                                            <span class="fa fa-truck"></span>
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="abt-txt ml-0">
                                            <h4>takimata sanctus</h4>
                                            <p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start">
                            <a href="about.html" class="btn w3ls-btn">view more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //slide -->

    <!-- testimonials -->
    <div class="testimonials align-w3" id="testi">
        <div class="container">
            <div class="wthree_pvt_title text-center">
                <h4 class="w3pvt-title">testimonials
                </h4>
                <p class="sub-title">Subheadings stand out because they are like mini titles. They make your post stand
                    out and
                    make it more readable.</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="testimonials_grid">
                        <div class="testi-text text-center">
                            <p><span class="fa fa-quote-left"></span>Stet clita kasd gubergren, no sea
                                takimata sanctus est Lorem ipsum dolor sit amet<span class="fa fa-quote-right"></span>
                            </p>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="testi-desc">
                                <span class="fa fa-user"></span>
                                <h5>Aliquyam</h5>
                                <p>Member</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonials_grid mt-lg-0 mt-4">
                        <div class="testi-text text-center">
                            <p><span class="fa fa-quote-left"></span>Stet clita kasd gubergren, no sea
                                takimata sanctus est Lorem ipsum dolor sit amet<span class="fa fa-quote-right"></span>
                            </p>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="testi-desc">
                                <span class="fa fa-user"></span>
                                <h5>Aliquyam</h5>
                                <p>Member</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //testimonials -->

    <!-- footer -->
    <footer class="footer py-md-5 pt-md-3 pb-sm-5">
        <div class="container">
            <div class="row p-sm-4 px-3 py-3">
                <div class="col-lg-4 footer-top mt-md-0 mt-sm-5">
                    <h2>
                        <a class="navbar-brand" href="index.html">
                            Freight
                        </a>
                    </h2>
                    <div class="fv3-contact mt-2">
                        <p>
                            <a href="mailto:example@email.com">info@example.com</a>
                        </p>
                    </div>
                    <div class="fv3-contact my-2">
                        <p>+456 123 7890</p>
                    </div>
                    <div class="fv3-contact">
                        <p>+90 nsequursu dsdesdc,
                            <br>xxx Street State 34789.</p>
                    </div>
                </div>
                <div class="col-lg-2  col-md-6 mt-lg-0 mt-4">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Navigation</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li>
                                <a href="index.html">
                                    Home
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="about.html">
                                    About Us
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="portfolio.html">
                                    Portfolio
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="single.html">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2  col-md-6 mt-lg-0 mt-4">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Links</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li>
                                <a href="about.html">
                                    Our Mission
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="single.html">
                                    Latest posts
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="portfolio.html">
                                    Explore
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="contact.html">
                                    Find us
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-lg-0 mt-4">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Links</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li>
                                <a href="single.html">
                                    more
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="portfolio.html">
                                    our work
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="about.html">
                                    Explore
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="contact.html">
                                    contact us
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    references
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2  col-md-6 mt-lg-0 mt-4">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Links</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li class="my-2">
                                <a href="portfolio.html">
                                    Explore
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    Our Mission
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="single.html">
                                    Latest posts
                                </a>
                            </li>

                            <li class="mb-2">
                                <a href="contact.html">
                                    Find us
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- //footer bottom -->
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center bg-theme">
        <p class="text-wh">© 2019 Freight. All rights reserved | Design by
            <a href="http://w3layouts.com"> W3layouts.</a>
        </p>
    </div>
    <!-- //copyright -->
    <!-- move top icon -->
    <a href="#home" class="move-top text-center">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </a>
    <!-- //move top icon -->

</body>

</html>